:root {
  font-size: 62.5%;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body,
button,
li,
a {
  font-family: 'Inter', sans-serif;
  font-size: 1.6rem;
  color: #272d38;

  text-decoration: none;
  list-style: none;
}

body.show {
  overflow: hidden;
}

.container {
  max-width: 106.5rem;
  width: 100%;
  padding: 0 2.4rem;

  margin: 0 auto;

  text-align: center;
}

.grid {
  display: grid;
  gap: 2rem;
}

.navbar-wrapper {
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  font-size: 2rem;
  margin-bottom: 12rem;
}

#toggle-menu {
  color: #272d38;
  font-size: 2.4rem;

  cursor: pointer;
}

.nav-list ul li a {
  color: #fff;
  font-weight: 700;
  font-size: 2.4rem;
}

.nav-list ul li a::after {
  content: '';
  width: 0%;
  height: 2px;
  background-color: #fff;

  position: absolute;
  left: 0;
  bottom: -1.5rem;

  transition: width 0.2s;
}

.nav-list ul li a:hover::after {
  width: 100%;
}

.nav-list ul li {
  transition: transform 0.2s ease-in;
}

.nav-list ul li:hover {
  transform: scale(1.2);
}

nav .nav-list {
  opacity: 0;
  visibility: hidden;
}

nav.show .nav-list {
  opacity: 1;
  visibility: visible;
  background-color: #272d38;
  color: #fff;

  height: 100vh;
  width: 100vw;

  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  display: grid;
  place-content: center;
}

nav.show ul.grid {
  gap: 4rem;
}

.main-wrapper {
  display: flex;
  flex-direction: column;
  margin-bottom: 12rem;
}

nav.show #toggle-menu {
  color: #fff;
  font-size: 2.4rem;

  cursor: pointer;
  z-index: 1;
}

.section-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.btn {
  width: 14rem;
  border: none;
  border-radius: 0.8rem;
  background: #272d38;

  padding: 1rem 2.4rem;

  color: #fff;
  text-transform: uppercase;
  font-size: 1.4rem;
  cursor: pointer;

  transition: transform 0.2s ease-in;
}

.btn:hover {
  transform: scale(1.1);
}

.companies {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.6rem;
}
.companies span {
  font-size: 1.4rem;
  font-weight: 300;
  color: #667085;
}

.logos-wrapper {
  max-width: 90rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 1rem;
  border-radius: 0.8rem;
  background: #f6f6f6;
  padding: 1.6rem;
}

.logos-wrapper img {
  max-width: 140px;
  width: 100%;
}

.section-wrapper span {
  font-size: 1.2rem;
  font-weight: 400;
}
.testimonials-wrapper {
  max-width: 34.5rem;
  width: 100%;

  border-radius: 20px;
  background: #f6f6f6;

  margin-top: 1.6rem;
  padding: 3.2rem 4.5rem;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.testimonials-wrapper img {
  border-radius: 100%;
  border: 1px solid rgba(222, 220, 219, 0.5);
  margin-bottom: 1rem;
}

.testimonials-wrapper span {
  font-size: 1.8rem;
}

.testimonials-wrapper p {
  margin-top: 2.7rem;
  font-size: 1.4rem;
  font-weight: 300;
}

.logo {
  width: 14rem;
}

.img-content {
  max-width: 45rem;
  width: 100%;
}

.testimonials-wrapper img {
  width: 14rem;
}

.text-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2.4rem;
}

.title-section {
  margin: 12rem 0 1.6rem;
}

footer {
  padding-top: 10rem;
  background: #f6f6f6;
  text-align: center;
  display: flex;
  flex-direction: column;
  gap: 7rem;
}

.footer-wrapper {
  padding-inline: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.2rem;
}

.footer-wrapper p,
ul li {
  font-weight: 300;
}

.footer-wrapper ul li + li {
  margin-top: 2.4rem;
}

.footer-wrapper ul li a:hover {
  font-weight: 400;
}

footer span {
  width: 100%;
  margin-bottom: 1.8rem;
  font-weight: 300;
}

#btn-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 99;
  border: none;
  outline: none;
  background-color: #272d38;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 10px;
  font-size: 18px;
}

@media screen and (min-width: 768px) {
  .section-wrapper {
    flex-direction: row;
  }
}
